@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
.navbar-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.navbar-bottom .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.192);
}

.navbar-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-bottom: solid 1px #DBE3F5;
}

.product-page .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-page .container .information {
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.product-page .container .information .product-name {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.384);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page .container .information .product-name .icon {
  font-size: 25px;
}
.product-page .container .information .product-name h5 {
  font-size: 25px;
  font-weight: 700;
}
.product-page .container .information .rating {
  display: flex;
}
.product-page .container .information .rating .star {
  color: #FFBE00;
}
.product-page .container .information .total-rating {
  padding-left: 10px;
  padding-top: 2px;
  color: #707070;
  font-weight: 600;
}
.product-page .container .information .cost-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page .container .information .cost-add .product-cost {
  font-size: 24px;
  font-weight: 450;
}
.product-page .container .information .cost-add .add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-page .container .information .cost-add .add .button {
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
}
.product-page .container .information .cost-add .add .minus {
  padding-right: 15px;
  font-size: 45px;
}
.product-page .container .information .cost-add .add .plus {
  padding-left: 15px;
  font-size: 35px;
}
.product-page .container .information .cost-add .add .total {
  font-size: 30px;
  padding-top: 5px;
}
.product-page .container .information .size .sizetext {
  font-size: 22px;
}
.product-page .container .information .size .sizepick {
  display: flex;
  justify-content: space-between;
}
.product-page .container .information .size .sizepick .roundsize {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(128, 128, 128, 0.521);
  border-radius: 100%;
  padding: 10px 15px 10px 15px;
  width: 50px;
  height: 50px;
}
.product-page .container .information .size .sizepick .roundsize p {
  padding-top: 12px;
}
.product-page .container .information .size .sizepick .roundsize:hover {
  background-color: #DBE3F5;
  border-color: #DBE3F5;
}
.product-page .container .information .colorpick {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page .container .information .colorpick p {
  font-size: 24px;
  font-weight: 350;
  padding-top: 7px;
  padding-right: 10px;
}
.product-page .container .information .colorpick .colors {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-right: 45px;
}
.product-page .container .information .colorpick .colors .color {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.product-page .container .information .colorpick .colors .red {
  background-color: #FF6262;
}
.product-page .container .information .colorpick .colors .red:hover {
  border: solid 2px #DBE3F5;
}
.product-page .container .information .colorpick .colors .blue {
  background-color: #63C7FF;
}
.product-page .container .information .colorpick .colors .blue:hover {
  border: solid 2px #DBE3F5;
}
.product-page .container .information .colorpick .colors .white {
  background-color: #F8E7CD;
}
.product-page .container .information .colorpick .colors .white:hover {
  border: solid 2px #DBE3F5;
}
.product-page .container .information .colorpick .colors .grey {
  background-color: #323858;
}
.product-page .container .information .colorpick .colors .grey:hover {
  border: solid 2px #DBE3F5;
}
.product-page .container .information .colorpick .colors .black {
  background-color: #111111;
}
.product-page .container .information .colorpick .colors .black:hover {
  border: solid 2px #DBE3F5;
}
.product-page .container .description {
  padding-top: 40px;
}
.product-page .container .description h5 {
  font-weight: 400;
}
.product-page .container .description .information {
  color: #535353;
  font-weight: 400;
  font-size: 16px;
}
.product-page .container .add-to-cart {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-page .container .add-to-cart .button {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
}
.product-page .container .add-to-cart .button:hover {
  background-color: rgba(0, 0, 0, 0.808);
}
.product-page .container .reviews {
  display: flex;
  justify-content: space-between;
}
.product-page .container .reviews h6 {
  font-weight: 700;
  font-size: 22px;
}

.review-card {
  padding-bottom: 50px;
}
.review-card .container {
  display: flex;
  border-bottom: 1px solid #DBE3F5;
}
.review-card .container .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DBE3F5;
  min-width: 50px;
  min-height: 50px;
}
.review-card .container .text-info {
  padding-left: 20px;
}
.review-card .container .text-info .name-rating {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
}
.review-card .container .text-info .name-rating p {
  font-size: 20px;
  color: black;
  font-weight: 350;
}
.review-card .container .text-info .name-rating .stars {
  color: #FFBE00;
}
.review-card .container .text-info .name-date .date {
  font-size: 12px;
  color: black;
}
.review-card .container .text-info .comment {
  padding-top: 10px;
  color: #626262;
  padding-bottom: 20px;
}

.registrate-user {
  margin-top: 50px;
}
.registrate-user h1 {
  text-align: center;
  margin-bottom: 2em;
  font-weight: 700;
}
.registrate-user .registrate-input-group {
  position: relative;
  width: 100%;
}
.registrate-user .registrate-input-group .error-message {
  color: #F4303C;
  font-size: 12px;
  height: 30px;
  margin-left: 10px;
}
.registrate-user .registrate-input-group .registrate-user-label {
  position: absolute;
  left: 3em;
  top: -0.4em;
  padding: 0 0.5em;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: white;
  z-index: 99;
}
.registrate-user .registrate-input-group .registrate-user-input {
  color: #111111;
  font-size: 0.9rem;
  line-height: 1;
  height: 3.6em;
  width: 100%;
  padding: 0.8em 1em;
  border: 1.5px solid #DBE3F5;
  border-radius: 1.8em;
}
.registrate-user .registrate-input-group .registrate-icon-input-container {
  position: relative;
}
.registrate-user .registrate-input-group .registrate-icon-input-container .registrate-user-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.registrate-user .registrate-input-group .registrate-icon-input-container .cross-icon {
  color: #F4303C;
}
.registrate-user .registrate-input-group .registrate-icon-input-container .check-icon {
  color: #00824B;
}
.registrate-user button {
  color: #FFFFFF;
  background-color: #111111;
  width: 100%;
  display: block;
  border-radius: 1.8em;
  padding: 10px;
  border: 0px;
  margin: 1em 0;
}
.registrate-user button:hover {
  opacity: 0.7;
}
.registrate-user a {
  text-decoration: none;
  color: #626262;
}
.registrate-user a:hover {
  opacity: 0.7;
}
.registrate-user .social-media-icons {
  font-size: 35px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.registrate-user .social-media-icons > * {
  width: 75px;
  height: 75px;
  border: 1px solid #DBE3F5;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registrate-user .social-media-icons > *:hover {
  opacity: 0.7;
}
.registrate-user .social-media-icons #facebook-icon {
  color: #3b5999;
}
.registrate-user .social-media-icons #twitter-icon {
  color: #55acee;
}
.registrate-user .social-media-icons #google-icon {
  color: #de4f3d;
}

.account-created-section .container .row .col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.account-created-section .container .row .col-12 p {
  color: #626262;
}
.account-created-section .container .row .col-12 a {
  text-decoration: none;
}
.account-created-section .container .row .col-12 button {
  color: #FFFFFF;
  background-color: #111111;
  width: 100%;
  display: block;
  border-radius: 1.8em;
  padding: 10px;
  border: 0px;
  margin: 1em 0;
}
.account-created-section .container .row .col-12 button:hover {
  opacity: 0.7;
}
.account-created-section .container .row .col-12 .icon {
  border: 1px solid #DBE3F5;
  border-radius: 50%;
  padding: 50px;
  background-color: #DBE3F5;
}
@media (min-width: 992px) {
  .account-created-section .container .row .col-12 .icon {
    padding: 140px;
  }
}
.account-created-section .container .row .col-12 .icon .success-icon {
  width: 100px;
  height: 100px;
}
@media (min-width: 992px) {
  .account-created-section .container .row .col-12 .icon .success-icon {
    width: 150px;
    height: 150px;
  }
}

.register-user .container .row .col-12 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register-user .container .row .col-12 .sign-in-title {
  text-align: center;
  margin: 30px 0;
}
.register-user .container .row .col-12 .col-12 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-user .container .row .col-12 .col-12 form .sign-in-input {
  margin: 20px 0;
}
.register-user .container .row .col-12 .col-12 form .col-12 {
  flex-direction: row;
  justify-content: space-between;
}
.register-user .container .row .col-12 .col-12 form .col-12 .checkbox {
  display: flex;
}
.register-user .container .row .col-12 .col-12 form .col-12 .checkbox input {
  margin-right: 5px;
  border: 2px solid red;
}
.register-user .container .row .col-12 .col-12 form .col-12 .forgot-password {
  display: flex;
  justify-content: flex-end;
}
.register-user .container .row .col-12 .col-12 form .col-12 .forgot-password a {
  color: black;
  text-decoration: none;
}
.register-user .container .row .col-12 .col-12 form .sign-in-button {
  background-color: #111111;
  color: #FFFFFF;
  border-radius: 20px;
  margin: 20px 0;
}
.register-user .container .row .col-12 .col-12 .register-link {
  display: flex;
  justify-content: flex-start;
}
.register-user .container .row .col-12 .col-12 .register-link a {
  color: black;
  text-decoration: none;
}
.register-user .container .row .col-12 .social-media-icons {
  font-size: 35px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.register-user .container .row .col-12 .social-media-icons > * {
  width: 75px;
  height: 75px;
  border: 1px solid #DBE3F5;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.register-user .container .row .col-12 .social-media-icons > *:hover {
  opacity: 0.7;
}
.register-user .container .row .col-12 .social-media-icons #facebook-icon {
  color: #3b5999;
}
.register-user .container .row .col-12 .social-media-icons #twitter-icon {
  color: #55acee;
}
.register-user .container .row .col-12 .social-media-icons #google-icon {
  color: #de4f3d;
}
.register-user .registrate-input-group {
  position: relative;
}
.register-user .registrate-input-group .registrate-user-label {
  position: absolute;
  left: 3em;
  top: -0.4em;
  padding: 0 0.5em;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: white;
  z-index: 99;
}
.register-user .registrate-input-group .registrate-user-input {
  color: #111111;
  font-size: 0.9rem;
  line-height: 1;
  height: 3.6em;
  width: 100%;
  padding: 0.8em 1em;
  border: 1.5px solid #DBE3F5;
  border-radius: 1.8em;
}
.register-user .registrate-input-group .registrate-icon-input-container {
  position: relative;
  margin-bottom: 20px;
}
.register-user .registrate-input-group .registrate-icon-input-container .registrate-user-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.home-section .container .categories-header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 40px;
}
.home-section .container .categories-header a {
  text-decoration: none;
}
.home-section .container .showcase {
  margin-top: 30px;
}
.home-section .container .featured-products {
  margin-top: 40px;
}
.home-section .container .featured-products .section-header {
  display: flex;
  justify-content: space-between;
}
.home-section .container .featured-products .section-header h4 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}
.home-section .container .featured-products .section-header a {
  text-decoration: none;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.home-section .container .featured-products .section-header a span {
  font-size: 18px;
}
.home-section .container .best-sellers {
  margin-top: 40px;
}
.home-section .container .best-sellers .section-header {
  display: flex;
  justify-content: space-between;
}
.home-section .container .best-sellers .section-header h4 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}
.home-section .container .best-sellers .section-header a {
  text-decoration: none;
  color: #111111;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.home-section .container .best-sellers .section-header a span {
  font-size: 18px;
}

.best-sellers-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.best-sellers-container .content {
  position: relative;
}
.best-sellers-container .content .item {
  display: grid;
  grid-template-columns: 150px auto;
}
.best-sellers-container .content .item .product-image {
  width: 150px;
  height: 150px;
}
.best-sellers-container .content .item .info {
  margin-left: 20px;
}
.best-sellers-container .content .item .info .title {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.best-sellers-container .content .item .info .price {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.best-sellers-container .content .item .info .star-rating {
  display: flex;
  margin-top: 10px;
}
.best-sellers-container .content .item .info .star-rating .star {
  color: orange;
  margin-left: 1px;
}
.best-sellers-container .content .item .info .star-rating .checked {
  color: orange;
}
.best-sellers-container .content .item .info .star-rating .review {
  margin-left: 5px;
  margin-bottom: 7px;
}
.best-sellers-container .content .heart {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 21px;
}

.best-sellers-sale-container {
  margin-top: 10px;
}
.best-sellers-sale-container .content {
  position: relative;
}
.best-sellers-sale-container .content .item {
  display: grid;
  grid-template-columns: 150px auto;
}
.best-sellers-sale-container .content .item .product-image {
  width: 160px;
  height: 160px;
}
.best-sellers-sale-container .content .item .sale {
  background-color: #69864D;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 10%;
  text-align: center;
  font-size: 9px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  padding: 3px 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
}
.best-sellers-sale-container .content .item .info {
  margin-left: 20px;
}
.best-sellers-sale-container .content .item .info .title {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.best-sellers-sale-container .content .item .info .price-before-sale {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline;
  text-decoration-line: line-through;
}
.best-sellers-sale-container .content .item .info .price-after-sale {
  display: inline;
  margin-left: 8px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #F4303C;
}
.best-sellers-sale-container .content .item .info .star-rating {
  display: flex;
  margin-top: 10px;
}
.best-sellers-sale-container .content .item .info .star-rating .star {
  color: orange;
  margin-left: 1px;
}
.best-sellers-sale-container .content .item .info .star-rating .checked {
  color: orange;
}
.best-sellers-sale-container .content .item .info .star-rating .review {
  margin-left: 5px;
  margin-bottom: 7px;
}
.best-sellers-sale-container .content .heart {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 21px;
}

.categories-header-container .categorie-image {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.categories-header-container .title {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #111111;
}

.featured-products-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-top: 20px;
}
.featured-products-container .image-container {
  position: relative;
}
.featured-products-container .image-container .product-image {
  width: 170px;
  height: 200px;
  position: relative;
  padding-right: 15px;
}
.featured-products-container .image-container .heart {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 21px;
}
.featured-products-container .image-container .bag {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 21px;
}
.featured-products-container .star-rating {
  display: flex;
  margin-top: 10px;
}
.featured-products-container .star-rating .star {
  color: orange;
  margin-left: 1px;
}
.featured-products-container .star-rating .checked {
  color: orange;
}
.featured-products-container .star-rating .review {
  margin-left: 5px;
  margin-bottom: 7px;
}
.featured-products-container .title {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.featured-products-container .price {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.sale-products .image-container {
  position: relative;
}
.sale-products .image-container .product-image {
  width: 170px;
  height: 200px;
  position: relative;
  padding-right: 15px;
}
.sale-products .image-container .sale {
  background-color: #69864D;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 24%;
  text-align: center;
  font-size: 9px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  padding: 3px 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
}
.sale-products .image-container .heart {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 21px;
}
.sale-products .image-container .bag {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 21px;
}
.sale-products .star-rating {
  display: flex;
  margin-top: 10px;
}
.sale-products .star-rating .star {
  color: orange;
  margin-left: 1px;
}
.sale-products .star-rating .checked {
  color: orange;
}
.sale-products .star-rating .review {
  margin-left: 5px;
  margin-bottom: 7px;
}
.sale-products .title {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.sale-products .price-before-sale {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline;
  text-decoration-line: line-through;
}
.sale-products .price-after-sale {
  display: inline;
  margin-left: 8px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #F4303C;
}

.showcase-container {
  position: relative;
}
.showcase-container .showcase-image {
  width: 95%;
  height: 150px;
  margin: 0 10px;
}
.showcase-container .info {
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: center;
}
.showcase-container .info p {
  color: #FFFFFF;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.showcase-container .info button {
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 60px;
  padding: 12px 30px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

nav a {
  font-size: large;
}

.profile .container {
  padding-bottom: 40px;
}
.profile .container .avatar-name-mail {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px;
}
.profile .container .avatar-name-mail .edit {
  border: solid 7px #DBE3F5;
  padding: 2px;
  border-radius: 50%;
  background-color: #DBE3F5;
}
.profile .container .avatar-name-mail .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  border: solid 3px #DBE3F5;
  padding: 30px 60px 30px 60px;
  border-radius: 100%;
}
.profile .container .avatar-name-mail .name {
  font-size: 32px;
  font-weight: 700;
}
.profile .container .avatar-name-mail .email {
  color: #626262;
  font-weight: 500;
}
.profile .container .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile .container .menu .left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.profile .container .menu .left i {
  color: #626262;
  font-size: 20px;
}
.profile .container .menu .last-border {
  border-bottom: 1px #DBE3F5 solid;
}
.profile .container .menu .last-border:hover {
  cursor: pointer;
}
.profile .container .menu .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #DBE3F5 solid;
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 8px;
}
.profile .container .menu .option i {
  padding-right: 8px;
}
.profile .container .menu .option p {
  padding-left: 30px;
  margin-top: 10px;
  padding-top: 15px;
  font-size: 22px;
  color: #111111;
}

.favorites-page .massage {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 22px;
  position: absolute;
  top: 30%;
  left: 9%;
  text-transform: uppercase;
}

.wish-list-container {
  margin-top: 40px;
}
.wish-list-container .content {
  position: relative;
  padding: 20px 0;
}
.wish-list-container .content .item {
  display: grid;
  grid-template-columns: 150px auto;
}
.wish-list-container .content .item .product-image {
  width: 110px;
  height: 110px;
  margin-left: 5px;
}
.wish-list-container .content .item .sale {
  background-color: #69864D;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 37px;
  text-align: center;
  font-size: 9px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  padding: 3px 0;
  margin-bottom: 0;
  margin-left: 3px;
  position: absolute;
  top: 20px;
}
.wish-list-container .content .item .info {
  margin-left: -30px;
}
.wish-list-container .content .item .info .title {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  margin-bottom: 0;
}
.wish-list-container .content .item .info .price {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline;
}
.wish-list-container .content .item .info .price-before-sale {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
  display: inline;
  text-decoration-line: line-through;
}
.wish-list-container .content .item .info .price-after-sale {
  display: inline;
  margin-left: 8px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #F4303C;
}
.wish-list-container .content .item .info .star-rating {
  display: flex;
  margin-top: 10px;
}
.wish-list-container .content .item .info .star-rating .star {
  color: orange;
  margin-left: 1px;
}
.wish-list-container .content .item .info .star-rating .checked {
  color: orange;
}
.wish-list-container .content .item .info .star-rating .review {
  margin-left: 5px;
  margin-bottom: 7px;
}
.wish-list-container .content .heart {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 21px;
}
.wish-list-container .content .bag {
  position: absolute;
  top: 90px;
  right: 10px;
  font-size: 21px;
  border: 1px solid #111111;
  border-radius: 100%;
  padding: 4px 8px;
  background-color: #111111;
  color: #FFFFFF;
}
