.register-user .container .row .col-12 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register-user .container .row .col-12 .sign-in-title {
  text-align: center;
  margin: 30px 0;
}
.register-user .container .row .col-12 .col-12 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-user .container .row .col-12 .col-12 form .sign-in-input {
  margin: 20px 0;
}
.register-user .container .row .col-12 .col-12 form .col-12 {
  flex-direction: row;
  justify-content: space-between;
}
.register-user .container .row .col-12 .col-12 form .col-12 .checkbox {
  display: flex;
}
.register-user .container .row .col-12 .col-12 form .col-12 .checkbox input {
  margin-right: 5px;
  border: 2px solid red;
}
.register-user .container .row .col-12 .col-12 form .col-12 .forgot-password {
  display: flex;
  justify-content: flex-end;
}
.register-user .container .row .col-12 .col-12 form .col-12 .forgot-password a {
  color: black;
  text-decoration: none;
}
.register-user .container .row .col-12 .col-12 form .sign-in-button {
  background-color: #111111;
  color: #FFFFFF;
  border-radius: 20px;
  margin: 20px 0;
}
.register-user .container .row .col-12 .col-12 .register-link {
  display: flex;
  justify-content: flex-start;
}
.register-user .container .row .col-12 .col-12 .register-link a {
  color: black;
  text-decoration: none;
}
.register-user .container .row .col-12 .social-media-icons {
  font-size: 35px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.register-user .container .row .col-12 .social-media-icons > * {
  width: 75px;
  height: 75px;
  border: 1px solid #DBE3F5;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.register-user .container .row .col-12 .social-media-icons > *:hover {
  opacity: 0.7;
}
.register-user .container .row .col-12 .social-media-icons #facebook-icon {
  color: #3b5999;
}
.register-user .container .row .col-12 .social-media-icons #twitter-icon {
  color: #55acee;
}
.register-user .container .row .col-12 .social-media-icons #google-icon {
  color: #de4f3d;
}
.register-user .registrate-input-group {
  position: relative;
}
.register-user .registrate-input-group .registrate-user-label {
  position: absolute;
  left: 3em;
  top: -0.4em;
  padding: 0 0.5em;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: white;
  z-index: 99;
}
.register-user .registrate-input-group .registrate-user-input {
  color: #111111;
  font-size: 0.9rem;
  line-height: 1;
  height: 3.6em;
  width: 100%;
  padding: 0.8em 1em;
  border: 1.5px solid #DBE3F5;
  border-radius: 1.8em;
}
.register-user .registrate-input-group .registrate-icon-input-container {
  position: relative;
  margin-bottom: 20px;
}
.register-user .registrate-input-group .registrate-icon-input-container .registrate-user-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=style.css.map */