@import "../../scss/corecss/colors";
@import "../../scss/corecss/mixin";
.registrate-user {
  margin-top: 50px;

  h1 {
    text-align: center;
    margin-bottom: 2em;
    font-weight: 700;
  }
  .registrate-input-group {
    position: relative;
    width: 100%;

    .registrate-user-label {
      position: absolute;
      left: 3em;
      top: -0.4em;
      padding: 0 0.5em;
      font-size: 11px;
      letter-spacing: 0.1em;
      cursor: pointer;
      background-color: white;
      z-index: 99;
    }

    .registrate-user-input {
      color: $color-black;
      font-size: 0.9rem;
      line-height: 1;
      height: calc(1.5em + 1.6em + 0.5em);
      width: 100%;
      padding: 0.8em 1em;
      border: 1.5px solid $color-blue;
      border-radius: 1.8em;
    }

    .registrate-icon-input-container {
      position: relative;
      margin-bottom: 20px;

      .registrate-user-icon {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
      }

      .cross-icon {
        color: $color-red;
      }

      .check-icon {
        color: $color-green;
      }
    }
  }

  button {
    color: $color-white;
    background-color: $color-black;
    width: 100%;
    display: block;
    border-radius: 1.8em;
    padding: 10px;
    border: 0px;
    margin: 1em 0;

    &:hover {
      opacity: 0.7;
    }
  }

  a {
    text-decoration: none;
    color: $color-greytext;
    &:hover {
      opacity: 0.7;
    }
  }

  .social-media-icons {
    font-size: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    & > * {
      width: 75px;
      height: 75px;
      border: 1px solid $color-blue;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: 0.7;
      }
    }
    #facebook-icon {
      color: #3b5999;
    }
    #twitter-icon {
      color: #55acee;
    }
    #google-icon {
      color: #de4f3d;
    }
  }
}
