


$color-blue: #DBE3F5;

$color-white: #FFFFFF;

$color-star: #FFBE00;

$color-black: #111111;

$color-red: #F4303C;

$color-olivegreen: #69864D;

$color-green: #00824B;

$color-grey: #707070;

$color-greytext: #626262;