@import '../../scss/corecss/colors';
@import '../../scss/corecss/fonts';
@import '../../scss/corecss/mixin';

.best-sellers-sale-container{
    margin-top: 10px;
    .content {
        position: relative;

        .item{
            display: grid;
            grid-template-columns: 150px auto;
            .product-image{

                width: 160px;
                height: 160px;
            }
            .sale{
                background-color: #69864D;
                color: $color-white;
                text-transform: uppercase;
                width: 10%;
                text-align: center;
                font-size: 9px;
                font-family: 'Mulish', sans-serif;
                font-weight: 700;
                padding: 3px 0;
                margin-bottom: 0;
                position: absolute;
                top: 0;
            }
            .info{
                margin-left: 20px;
                .title{
                    font-family: 'Mulish', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                .price-before-sale{
                    font-family: 'Mulish', sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    margin-bottom: 5px;
                    display: inline;
                    text-decoration-line: line-through; 
                }
                .price-after-sale{
                    display: inline;
                    margin-left: 8px;
                    font-family: 'Mulish', sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    color: $color-red;
                }
                .star-rating{
                    display: flex;
                    margin-top: 10px;
                    .star{
                        color: orange;
                        margin-left: 1px;
                    }
                    .checked{
                        color: orange;
                    }
                    .review{
                        margin-left: 5px;
                        margin-bottom: 7px;
                    }
                }
            }
        }

        .heart{
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 21px;
        }
    }
}