@import "../../scss/corecss/colors";
.styled-input-container {
    position: relative;
    width: 100%;

    .error-message {
        color: $color-red;
        font-size: 12px;
        height: 30px;
        margin-left: 10px;
    }

    label {
        position: absolute;
        left: 3em;
        top: -0.4em;
        padding: 0 0.5em;
        font-size: 11px;
        letter-spacing: 0.1em;
        cursor: pointer;
        background-color: white;
        z-index: 99;
    }

    input {
        color: $color-black;
        font-size: 0.9rem;
        line-height: 1;
        height: calc(1.5em + 1.6em + 0.5em);
        width: 100%;
        padding: 0.8em 1em;
        border: 1.5px solid $color-blue;
        border-radius: 1.8em;
    }

    .input-container {
        position: relative;
        .icon {
            position: absolute;
            right: 1em;
            top: 50%;
            transform: translateY(-50%);
        }

        .cross-icon {
            color: $color-red;
        }

        .check-icon {
            color: $color-green;
        }
    }
}